{{#each errors}}

  <div class="alert alert-danger alert-dismissible fade show">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {{else}}

{{/each}}

<h2>Lista de categorias</h2>
<hr>
<a href="/admin/cat/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categories}}

    <div class="card mt-4">
        <div class="card-body">
            <h4>{{name}}</h4>
            <small>Slug: {{slug}}</small> <br>
            <small>Data de criação: {{#formatDate}} {{date}} {{/formatDate}}</small>
            <br>
            <a href="/admin/cat/edit/{{_id}}"><button class="btn btn-warning mt-3">Editar</button></a>
            <button class="btn btn-danger mt-3" data-toggle="modal" data-target="#delete-cat">Deletar</button>
        </div>
    </div>

    <div class="modal fade" id="delete-cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deletar categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja deletar esta categoria?
            </div>
            <div class="modal-footer">
                <form action="/admin/cat/delete" method="POST">
                  <input type="hidden" name="id" value="{{_id}}">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Deletar</button></a>
                </form>
            </div>
            </div>
        </div>
    </div>

{{else}}

<h4 align="center" class="mt-4 text-secondary">Nenhuma categoria registrada até o momento.</h4>

{{/each}}