{{!-- <div class="card">
    <div class="card-body">
        <div class="text-center mb-5">
            <h1>{{post.title}}</h1>
            <p><i>{{post.description}}</i></p>

            <hr width="400px">

            <small>{{post.category.name}}</small> <br>
            <small>Publicação: {{#formatDate}}  {{post.date}} {{/formatDate}}</small> <br>

            <hr>
        </div>

        <div>{{{post.content}}}</div>

    </div>
</div> --}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 body-post pt-3 pb-3">

            <div class="col-lg-8 col-md-12 cool-sm-12 content-post text-center">

                <div class="image-post mb-5">
                    <img src="/uploads/{{post.image}}" alt="{{post.title}}">
                </div>

                <h2 class="text-center title-post">{{post.title}}</h2>
                <span class="date-post">Publicado em: {{#formatDate}} {{post.date}} {{/formatDate}}</span>

                <div class="article text-justify mt-5">
                    {{{post.content}}}
                </div>
                
                <span class="category badge badge-light">{{post.category.name}}</span>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 sidebar">

                <form class="form-inline mb-5">
                    <input class="form-control mr-sm-2" type="search" placeholder="O que você procura?" aria-label="Search">
                    <button class="btn btn-outline-warning btn-search my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>

                <div class="categories-list mb-5">
                    <h5 class="mb-4">Categorias</h5>

                    <ul>
                        {{#each categories}}
                            <a href=""><li>{{name}}</li></a>
                            <hr>
                        {{else}}

                        {{/each}}
                    </ul>
                </div>

                <div class="recent-posts">
                    <h5 class="mb-4">Posts recentes</h5>
                </div>

            </div>

        </div>
    </div>
</div>